<div class="row" ng-if="!socketConnected">
    <div class="col-md-4 col-md-offset-4">
        <div class="page-header">
            <h2>PiCloud Info</h2>
        </div>
        <p class="lead">Enter the URL and API Key for your PiCloud server's info socket to start veiwing information about connected clients.</p>
        <form name="socketSettingsForm">
            <div class="form-group">
                <label for="socketURL">URL:</label>
                <input class="form-control" ng-model="settings.url" type="text" name="socketURL" value="" required>
            </div>
            <div class="form-group">
                <label for="url">API Key:</label>
                <input class="form-control" ng-model="settings.apiKey" type="text" name="apiKey" value="" required>
            </div>
            <div class="form-group" ng-if="socketSettingsForm.$valid">
                <button class="btn btn-primary btn-block" ng-click="startSocket()" type="button" name="button">Connect</button>
            </div>
        </form>
    </div>
</div>

<div class="row" ng-if="socketConnected">
    <div class="col-md-4 col-md-offset-4">
        <div class="page-header">
            <h2>Subscriptions <small>as of {{infoCreatedAt | date:'medium'}}</small></h2>
        </div>
        <div class="alert alert-info" ng-if="!picloudInfo.length">
            <span>No event subscriptions</span>
        </div>
        <table class="table" ng-if="picloudInfo.length">
            <thead>
                <th>Event</th>
                <th>IP Address</th>
                <th>Connected</th>
            </thead>
            <tbody>
                <tr ng-repeat="i in picloudInfo | orderBy:['name', '-connectedAt']">
                    <td>{{i.name}}</td>
                    <td>{{i.ipAddress}}</td>
                    <td>{{i.connectedAt | date:'medium'}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
